.black /* black tile */ {
  background-color: rgb(190, 229, 226);
}

.white /* white tile */ {
  background-color: rgb(255, 253, 230);
}

.redColor {
  background: rgb(214, 25, 34);
}

.greenColor {
  background: rgb(17, 209, 161);
}

.checker {
  border-radius: 50%;
  width: 70%;
  height: 40px;
  display: inline-flex;
  cursor: pointer;
}

.king {
  background-image: url("https://image.similarpng.com/thumbnail/2020/08/Gold-crown-icon-vector-PNG.png");
  background-blend-mode: color-dodge;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 70%;
  height: 40px;
  display: inline-flex;
  cursor: pointer;
}

.checker:active, .king:active /* when checker clicked */ {
  background-color: rgb(79, 115, 150);
  background-blend-mode: overlay;
}

table {
  margin: auto;
  width: 500px;
}

button {
  height: 8vh;
  width: 150px;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 499px) {
  table {
    margin: auto;
    width: 100%;
  }

  button {
    width: fit-content;
  }
}
